@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Administración de Personal</h1>
</div>

@Model
<div class="row">
    <div class="col-md-4">
        <h2>Definición</h2>
        <p>
            La idea de administración de personal, en este marco, alude a la dirección de las 
            relaciones entre una empresa y los trabajadores. Esta administración implica la 
            gestión de los recursos humanos de la entidad.
        </p>
    </div>
    <div class="col-md-4">
        <h2> </h2>
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>Importancia</h2>
        <p>
            <ol type="I">
                <li> Incrementa la eficiencia, la eficacia y la calidad.</li>
                <li> Incide en la optimización de los recursos tecnológicos, materiales y financieros.</li>
                <li> Promueve un clima organizacional adecuado.</li>
                <li> Mejora la calidad de vida de los integrantes de la organización.</li>
                <li> Incrementa la motivación y consecuentemente la productividad y calidad.</li>
            </ol>            
        </p>
        
    </div>
</div>